body{
    background-color: #000000;
    font-family: 'IBM Plex Mono';
    margin 0;
}

#index{
    position: fixed;
    color: #FFFFFF;
    font-size: 400pt;
    z-index: -1;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.3;
}

.numbers{
    -webkit-text-stroke: 2px white;
    color: #000000;
}

#btn1{
    position: fixed;
    margin-top: 45%;
    margin-left: 95%;
    font-size: 50pt;
}

#n1{
    font-size: 50pt;
    left: 5%;
}

#n2{
    font-size: 50pt;
    left: 5%;
    top: 25%;
}

#n3{
    font-size: 50pt;
    left: 5%;
    top: 50%;
}

#info{
    background-color: black;
    position: fixed;
    color: #FFFFFF;
    margin-left: 80%;
    margin-top: 20%;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 1%;
    font-size: 12pt;
    display: none;
}


/* unvisited link */
a:link {
    color: #000000;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #000000;
    -webkit-text-stroke: 2px white;
    text-decoration: none;
}